.add-user-form {
  overflow: none;
  padding: (100% - 80%)/2 0;
}
.label {
  text-align: left;
  align-self: start;
  padding-left: (100% - 80%)/2;
  color: black;
}

.input[type="date"]::-webkit-datetime-edit {
  color: gray;
}

.input[name="user-image"] {
  width: 50px;
  height: 50px;
}

.full-name-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 80%;
}
.input {
  width: 100%;
}

.full-name-item {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.full-name-item,
label {
  padding: 0;
}

input {
  width: 80%;
}

.input-with-label {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#submit-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  width: 80%;
  margin: 0;
  padding: 25px 0;
}
.button[type="submit"] {
  width: fit-content;
}
