.dashboard-container {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 3.5% 5% 5% 5%;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  max-height: 100vh - tb.10vh;
  max-width: unset;
  background: whitesmoke;
  color: black;
}

.dashboard {
  margin: 0;
}
.h1 {
  font-weight: 600;
}

.dashboard-title {
  margin-bottom: 3%;
  p {
    padding-top: 0.5%;
  }
  flex-grow: 1;
}

.add-student-btn {
  background-color: colors.$MAIN_COLOR;
  color: colors.$LIGHT_COLOR;
}

.mat-mdc-button-base {
  font-size: 12px !important;
}
