<!-- <router-outlet></router-outlet> -->

<app-login></app-login>

  <div class="grid-container">
    <app-toolbar class="encabezado"></app-toolbar>
    <app-navbar class="grid-menu"></app-navbar>


    <!-- <app-componente-padre
      class="grid-student"
      [estudiantesPadre]="estudiantes"
      (eventoSalidaPadre)="agregarEstudiante($event)"
    ></app-componente-padre> -->

    <!-- <app-componente-padre
      class="grid-student"
      [estudiantesPadre]="estudiantes"
      (eventoSalidaPadre)="agregarEstudiante($event)"
    ></app-componente-padre> -->

    <!-- <app-componente-padre class="grid-student"> </app-componente-padre> -->

  </div>


  <app-students > </app-students>

