<div class="toast-container position-static">
    <div *ngFor="let message of messages" 
        class="toast show" role="alert"
    >
        <div class="toast-header text-bg-danger">
            <img 
                src="../../../../assets/images/warning.png" 
                class="rounded me-2" 
                alt="Warning"
                width = "20px"
            >
            <strong class="me-auto">Error</strong>
            <small class="text-light">Justo ahora</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
        </div>
        <div class="toast-body">
            {{message}}
        </div>
    </div>
</div>