<div id="collapsed-left-menu" class="collapse-horizontal collapse show ">
    <div id='left-menu' class=" bg-light flex-column flex-shrink-0 pt-3 text-black">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto ps-3 text-decoration-none">
            <span  class="fw-bold"> Navegación</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li *ngFor="let option of options" class="nav-item">
                <a  href="#" class="menu-text nav-link"
                        [ngClass]="option.active? 'active':''">
                    {{option.name}}
                </a>
            </li>
            <li *ngFor="let scrollableOption of scrollableOptions | keyvalue" class="nav-item dropdown">
                <a  class="menu-text nav-link dropdown-toggle" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    {{scrollableOption.key}}
                </a>
                <div class="collapse" id="collapseExample">
                    <div class="menu-dropdown-item card card-body" *ngFor="let option of scrollableOption.value">
                        <a >
                            {{option}}
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<p style="left: 15px; bottom:0; position: absolute">
    <button id="open-close-button"
            class="btn btn-secondary" 
            
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#collapsed-left-menu"
            onClick="this.innerHTML = this.innerHTML === '➕' ? 'Ver menos' : '➕'"
            >
        Ver menos
    </button>
</p>